<app-header></app-header>


<div class="contenedor">
    <div class="login-container">
        <div class="login-info-container">
            <h1 class="title">Log in with</h1>
            <div class="social-login">
                <div class="social-login-element">
                    <img src="assets/logos/google.svg" alt="google-image">
                    <span>Google</span>
                </div>
                <div class="social-login-element">
                    <img src="assets/logos/facebook.svg" alt="facebook-image">
                    <span>Facebook</span>
                </div>
            </div>
            <p>or</p>
            <form class="inputs-container">
                <input class="input" type="text" placeholder="Username">
                <input class="input" type="password" placeholder="Password">
                <p>Forgot password? <span class="span">Click here</span></p>
                <button class="btn" routerLink="/navegar">login</button>
                <p>Don't have an account? <span class="span">Sign Up</span></p>
            </form>
        </div>
        <img class="image-container" src="images/login.svg" alt="">
    </div>

</div>

<app-footer></app-footer>