<div class="container">
    <div class="title-container">
      <h1>Lista Cuentas Bancarias </h1>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">      
          <ng-container matColumnDef="numberAccountBanking">       
           <th mat-header-cell *matHeaderCellDef>Nùmero de cuenta</th>       
           <td mat-cell *matCellDef="let element"> {{element.numberAccountBanking}} </td>
         </ng-container>       
         
          <ng-container matColumnDef="typeAccountBanking">       
           <th mat-header-cell *matHeaderCellDef> Tipo de Cuenta </th>       
           <td mat-cell *matCellDef="let element"> {{element.typeAccountBanking}} </td>
         </ng-container>       
             
          <ng-container matColumnDef="amountAccountBanking">       
           <th mat-header-cell *matHeaderCellDef> Monto</th>       
           <td mat-cell *matCellDef="let element"> {{element.amountAccountBanking}} </td>       
          </ng-container>

         <!-- <ng-container matColumnDef="entityBank">       
            <th mat-header-cell *matHeaderCellDef> Entidad Bancaria </th>       
            <td mat-cell *matCellDef="let element"> {{element.entityBank}} </td>       
           </ng-container>--> 
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>       
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>       
         </table>
  </div>
